@font-face {
  font-family: "ac-icon";
  src: url('iconfont.woff?t=1614854514417') format('woff');
}

.ac-icon {
  font-family: "ac-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ac-warning:before {
  content: "\e799";
}

.ac-fail:before {
  content: "\e61a";
}

.ac-success:before {
  content: "\e6d0";
}

.ac-refresh:before {
  content: "\e619";
}

.ac-arrow-right:before {
  content: "\e624";
}

